{% extends 'base.html' %}

{% block content %}
    <form name="add_message" method="post" action="{% url 'topic' %}">{% csrf_token %}
        <input type="hidden" name="topic_id" value="{{ topic_id }}">
        <div class="form-group">
            <label for="formGroupExampleInput">Сообщение</label>
            <input required type="text" class="form-control" name="message" id="message">
        </div>
        <button type="submit" name="change_order" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}