{% extends 'base.html' %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Тема</th>
            <th scope="col">Автор</th>
            <th scope="col">Последние сообщение</th>
            {% if permission %}
                <th scope="col">Изменить</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
                <form name="topic" id="topic" method="post" action="{% url 'topic' %}">{% csrf_token %}
                    <input type="hidden" name="topic_id" value="{{ topic.pk }}">
                    <td><button type="submit" class="btn btn-link">{{ topic.name_theme }}</button></td>
                </form>
                <td>{{ topic.name_creator }}</td>
                <td>{{ topic.name_last_answer }}<br>
                    {{ topic.date_last_answer }}</td>

                {% if permission %}
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form name="edit_order" method="post" action="{% url 'change_topic_name' %}">{% csrf_token %}
                                <input type="hidden" name="topic_id" value="{{ topic.pk }}">
                                <button type="submit" class="btn btn-secondary">Редактировать</button>
                            </form>
                            <form name="delete" method="post" action="{% url 'forum' %}">{% csrf_token %}
                                <input type="hidden" name="topic_id" value="{{ topic.pk }}">
                                <button type="submit" class="btn btn-secondary">Удалить</button>
                            </form>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if user %}
        <form name="add_topic" id="add_topic" method="post" action="{% url 'add_topic' %}">{% csrf_token %}
             <button type="submit" class="btn btn-secondary">Добавить тему</button>
        </form>
    {% endif %}
{% endblock %}