{% extends 'base.html' %}

{% block content %}

<table class="table table-bordered table-striped table-light table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Обозначение</th>
      <th scope="col">Название</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
  	{% for key, value in all_prices.data.items %}
	    <tr>
	      <td>{{ value.rank }}</td>
	      <td>{{ value.symbol }}</td>
	      <td>{{ value.name }}</td>
	      <td>{{ value.quotes.USD.price }}</td>
	    </tr>
	{% endfor %}
  </tbody>
</table>
<br>
{% endblock %}