{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{% url 'search_order' %}">{% csrf_token %}
        <input class="form-control" name='name' type="text" placeholder="Введите имя"><br>
        <button type="submit" class="btn btn-secondary">Найти</button>
    </form>
    <br>
    {% if error %}
        <td>{{ error }}</td>
    {% endif %}
    {% if orders %}

        <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Дата</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ order.name }}</td>
                <td>{{ order.date }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.quantity }}</td>
                <td>
                    {% if user %}
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form name="edit_order" method="post" action="{% url 'edit_order' %}">{% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ order.pk }}">
                                <button type="submit" class="btn btn-secondary">Редактировать</button>
                            </form>
                            <form name="delete" method="post" action="{% url 'orders' %}">{% csrf_token %}
                                <input type="hidden" name="order_id" value="{{ order.pk }}">
                                <button type="submit" class="btn btn-secondary">Удалить</button>
                            </form>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}